@import "./color";

.got-project {
  padding: 60px 0 60px 0;

  h3 {
    color: $second_color;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
  }

  .btn-hire {
    background-color: #f9f9f9;
    color: $main_color;
    border: 1px solid $main_color;
    margin-bottom: 120px;

    &:hover {
      background-color: $main_color;
      color: #fff;
    }
  }
}
