@import "./color";

.hero {
  margin-top: -90px;
  padding: 190px 0 60px 0;

  .left-side {
    h3 {
      color: $second_color;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    h1 {
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 20px;

      span {
        color: $main_color;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 24px;
    }

    .btn-email-me {
      background-color: $main_color;
      color: #fff;
    }
  }

  .right-side {
    min-width: 100px;
    img {
      width: 100%;
    }
  }
}
