@import "./color";

.information {
  padding: 60px 0 120px 0;
  h3 {
    color: $second_color;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  p {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
  }

  span {
    font-weight: 400;
    font-size: 16px;
  }
}
