@import "./color";

@media (max-width: 575px) {
  [data-gradient1] {
    position: relative;
  }

  [data-gradient1]::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: -10px;
    top: -20px;
    z-index: -1;
    border: 50%;

    background: linear-gradient(
      40.82deg,
      #20bf6b -16.4%,
      rgba(32, 191, 107, 0) 141.01%
    );
    filter: blur(70px);
  }

  [data-gradient2] {
    position: relative;
  }

  [data-gradient2]::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 300px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: -1;

    background: linear-gradient(
      40.82deg,
      rgba(80, 86, 233, 0.5) -16.4%,
      rgba(83, 90, 243, 0) 141.01%
    );
    filter: blur(70px);
  }

  [data-gradient3] {
    position: relative;
  }

  [data-gradient3]::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    z-index: -1;

    background: linear-gradient(
      40.82deg,
      rgba(80, 86, 233, 0.5) -16.4%,
      rgba(83, 90, 243, 0) 141.01%
    );
    filter: blur(70px);
  }

  [data-gradient4] {
    position: relative;
  }

  [data-gradient4]::after {
    content: "";
    position: absolute;
    top: -80px;
    left: 300px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: -1;

    background: linear-gradient(
      40.82deg,
      #ff59aa -16.4%,
      rgba(245, 173, 235, 0) 141.01%
    );
    filter: blur(70px);
  }

  .hero {
    padding: 150px 0 50px 0;
    overflow-x: hidden;

    .left-side {
      h1 {
        font-size: 36px;
      }
    }

    .right-side {
      margin-top: 40px;
      img {
        width: 100%;
      }
    }
  }

  .about-me {
    padding: 50px 0 50px 0;
    .my-image {
      img {
        display: none;
      }
    }
  }

  .project-title {
    padding: 50px 0 0 0;
  }

  .project-content {
    padding: 48px 0 50px 0;
    .project-1 {
      .image-project {
        min-width: 300px;

        img {
          width: 100%;
        }
      }

      .description-project {
        strong::after {
          content: "";
          display: inline-block;
          position: relative;
          top: -5px;
          margin-left: 0.5rem;
          margin-right: 0.3rem;
          width: 20px;
          height: 1px;
          background-color: #5f6470;
        }
      }
    }

    .project-2 {
      margin-top: 50px;
      display: flex;
      .description-project {
        order: 999;
        strong::after {
          content: "";
          display: inline-block;
          position: relative;
          top: -5px;
          margin-left: 0.5rem;
          margin-right: 0.3rem;
          width: 20px;
          height: 1px;
          background-color: #5f6470;
        }
      }

      .image-project {
        min-width: 300px;

        img {
          width: 100%;
        }
      }
    }

    .project-3 {
      margin-top: 50px;
      .image-project {
        min-width: 300px;

        img {
          width: 100%;
        }
      }

      .description-project {
        strong::after {
          content: "";
          display: inline-block;
          position: relative;
          top: -5px;
          margin-left: 0.5rem;
          margin-right: 0.3rem;
          width: 20px;
          height: 1px;
          background-color: #5f6470;
        }
      }
    }
  }

  .tools-title {
    padding: 50px 0 0 0;
  }

  .tools-content {
    padding: 48px 0 50px 0;
  }

  .got-project {
    padding: 50px 0 50px 0;
  }

  .information {
    padding: 50px 0 100px 0;
    h3 {
      color: $second_color;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    p {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 8px;
    }

    span {
      font-weight: 400;
      font-size: 14px;
    }
  }
}

// Responsive device 575px -  767px
@media (min-width: 575px) and (max-width: 767px) {
  .hero {
    .right-side {
      margin-top: 40px;
      img {
        width: 100%;
      }
    }
  }
}
