@import "./color";

.tools-content {
  padding: 48px 0 60px 0;

  .load-more {
    background-color: $main_color;
    color: #fff;
    border: none;

    &:hover {
      --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
  }
}
