@import "./color";

.tools-title {
  h3 {
    color: $second_color;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
  }
}
