body {
  background: linear-gradient(90deg, #f9f9f9 21px, transparent 1%) center, linear-gradient(#f9f9f9 21px, transparent 1%) center, #b9bdc0;
  background-size: 22px 22px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

[data-gradient1] {
  position: relative;
}

[data-gradient1]::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  left: -80px;
  top: -80px;
  z-index: -1;
  border: 50%;
  background: linear-gradient(40.82deg, #20bf6b -16.4%, rgba(32, 191, 107, 0) 141.01%);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.navbar-brand {
  font-weight: 500;
}

.btn-contact-me {
  background-color: #686de0;
  color: #fff;
  border-radius: 30px;
}

.btn-contact-me:hover {
  background-color: #bfc2ff;
  color: #fff;
}

.hero {
  margin-top: -90px;
  padding: 190px 0 60px 0;
}

.hero .left-side h3 {
  color: #20bf6b;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.hero .left-side h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero .left-side h1 span {
  color: #686de0;
}

.hero .left-side p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}

.hero .left-side .btn-email-me {
  background-color: #686de0;
  color: #fff;
}

.hero .right-side {
  min-width: 100px;
}

.hero .right-side img {
  width: 100%;
}

[data-gradient2] {
  position: relative;
}

[data-gradient2]::after {
  content: "";
  position: absolute;
  top: 190px;
  left: 370px;
  width: 271px;
  height: 261px;
  border-radius: 50%;
  z-index: -1;
  background: linear-gradient(40.82deg, rgba(80, 86, 233, 0.5) -16.4%, rgba(83, 90, 243, 0) 141.01%);
  -webkit-filter: blur(70px);
          filter: blur(70px);
}

.about-me {
  padding: 60px 0 60px 0;
}

.about-me .my-image {
  min-width: 400px;
}

.about-me .my-image img {
  width: 100%;
}

.about-me .my-description h3 {
  color: #20bf6b;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.about-me .my-description h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 12px;
}

.about-me .my-description h1 span {
  color: #686de0;
}

.about-me .my-description p {
  font-size: 16px;
  font-weight: 400;
}

.about-me .my-description .btn-about-me {
  margin-top: 44px;
}

.about-me .my-description .btn-about-me .btn-cv {
  background-color: #686de0;
  color: #fff;
}

.about-me .my-description .btn-about-me .btn-hire {
  background-color: #f9f9f9;
  color: #686de0;
  border: 1px solid #686de0;
}

@media (max-width: 575px) {
  [data-gradient1] {
    position: relative;
  }
  [data-gradient1]::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: -10px;
    top: -20px;
    z-index: -1;
    border: 50%;
    background: linear-gradient(40.82deg, #20bf6b -16.4%, rgba(32, 191, 107, 0) 141.01%);
    -webkit-filter: blur(70px);
            filter: blur(70px);
  }
  [data-gradient2] {
    position: relative;
  }
  [data-gradient2]::after {
    content: "";
    position: absolute;
    top: 120px;
    left: 320px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(40.82deg, rgba(80, 86, 233, 0.5) -16.4%, rgba(83, 90, 243, 0) 141.01%);
    -webkit-filter: blur(50px);
            filter: blur(50px);
  }
  .hero {
    padding: 150px 0 50px 0;
    overflow-x: hidden;
  }
  .hero .left-side h1 {
    font-size: 36px;
  }
  .hero .right-side {
    margin-top: 40px;
  }
  .hero .right-side img {
    width: 100%;
  }
  .about-me {
    padding: 50px 0 50px 0;
  }
  .about-me .my-image img {
    display: none;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .hero .right-side {
    margin-top: 40px;
  }
  .hero .right-side img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */